.header {
    width: 1440px;
    height: 90px;
    background: #0C0C0E;
    display: flex;
    align-items: center;
    position: absolute;
}

h3 {
    font-weight: 400;
}

.main {
    width: 1440px;
    height: 4906px;
    margin-top: 90px;
}

html {
    scroll-behavior: smooth; 
}

nav :hover{
    color: #AC5F52;
}

.li1 a {
    transition: color 0.5s;
}

.li2 a {
    transition: color 0.5s;
}

.li3 a {
    transition: color 0.5s;
}

.li4 a {
    transition: color 0.5s;
}

.li5 a {
    transition: color 0.5s;
}

body {
    display: flex;
    justify-content: center;
    background-color: #8E8E8E;
}

.Welcome {
    background-color:#FFF;
}

.About-section {
    background-color:#FFF;
}

.Favorites-section {
    background-color:#FFF;
}

.CoffeShop {
    background-color:#FFF;
}

.Contacts-section {
    background-color:#FFF;
}

.LibraryCard {
    background-color:#FFF;
}

.Brooklyn-Public-Library {
    margin: 0 0 0 20px;
    color: #FFF;
    font-family:'Forum', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.nav {
    color: #FFF;
    margin-left: 454px;
    width: 584px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.ul {
    display: inline;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.ul11 {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    gap: 30px;
}

.li1 {
    display: inline;
    text-align: center;
}

.li2 {
    display: inline;
    text-align: center;
}

.li3 {
    display: inline;
    text-align: center;
}

.li4 {
    display: inline;
    text-align: center;
}

.li5 {
    display: inline;
    text-align: center;
}

a {
    text-decoration: none;
}

.navtext {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.About {
    margin-left: 0;
}

.icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 40px;
}

.Welcome {
    width: 1440px;
    height: 300px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    display: flex;
}

.Welcome-to-the-Brooklyn-Library {
    width: 520px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 150px;
    padding: 35px 40px;
    background-color: #0C0C0E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    position: absolute;
}

h1 {
    font-weight: 400;
}

.img-welcome {
    display: flex;
    position: relative;
    width: 1440px;
    height: 600px;
}

h2 {
    display: inline;
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 400;
}

.About-section-text {
    color: #0C0C0E;
    font-family:'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize; 
    margin-top: 320px;
    width: fit-content;
    height: 40px;
    display: flex;
    position: absolute;
}

.About-section {
    width: 1440px;
    height: 1137px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.About-section .image1 {
    align-self:flex-end;
}

.About-section .image2 {
    align-self:flex-end;
}

.About-section .image3 {
    align-self:flex-end;
}

.About-section .Carousel-pagination {
    align-self:flex-end;
}

.line {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    display: flex;
    position: absolute;
    margin-top: 380px;
    background: #0C0C0E;
}

.The-Brooklyn-Library {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 420px;
    height: 40px;
    position: absolute;
}

.image1 {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    margin-bottom: 96px;
    margin-left: 20px;
}

.image2 {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    margin-bottom: 96px;
    margin-left: 25px;
}

.image3 {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    margin-bottom: 96px;
    margin-left: 25px;
    margin-right: 20px;
}

.Carousel-pagination {
    width: 68px;
    height: 16px;
    flex-shrink: 0;
    display: flex;
    position: absolute;
    margin-bottom: 40px;
    align-items: center;
}

.Carousel-pagination1 {
    width: 26px;
    height: 26px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
}

.Carousel-pagination2 {
    width: 26px;
    height: 26px;
    display: flex;
    position: absolute;
    margin-left: 21px;
    justify-content: center;
    align-items: center;
}

.Carousel-pagination3 {
    width: 26px;
    height: 26px;
    display: flex;
    position: absolute;
    margin-left: 47px;
    justify-content: center;
    align-items: center;
}

.Carousel-pagination1:hover {
    cursor: pointer;
}

.Carousel-pagination2:hover {
    cursor: pointer;
}

.Carousel-pagination3:hover {
    cursor: pointer;
}

.Carousel-pagination-circle1 {
    width: 16px;
    height: 16px;
}

.Carousel-pagination-circle2 {
    width: 16px;
    height: 16px;
}

.Carousel-pagination-circle3 {
    width: 16px;
    height: 16px;
}

.Favorites-section {
    width: 1440px;
    height: 1439px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}


.Favorites-text {
    color: #0C0C0E;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
    position: absolute;
}

.radio-form {
    display: flex;
    width: 700px;
    height: 24px;
    position: absolute;
    align-items: center;
    accent-color: #000;
}

.line2 {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    margin-top: 80px;
    background: #0C0C0E;
    position: absolute;
}

.Pick-favorites {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 121px;
    margin-right: 1186px;
    margin-left: 20px;
    display: flex;
    position: absolute;
}

.seasons {
    width: 700px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    margin-top: 185px;
    margin-right: 720px;
    margin-left: 20px;
    align-items: center;
    position: absolute;
}

.Group {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
}

.Winter {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-left: 20px;
}

.label1:hover {
    font-weight: 700;
}

.label2:hover {
    font-weight: 700;  
}

.label3:hover {
    font-weight: 700;  
}

.label4:hover {
    font-weight: 700; 
}

.label1 {
    width: 114px;
    height: 34px;
    display: flex;
    align-items: center;
    position: absolute;
}

.label2 {
    width: 109px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-left: 194px;
    position: absolute;
}

.label3 {
    width: 126px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-left: 383px;
    position: absolute;
}

.label4 {
    width: 121px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-left: 589px;
    position: absolute;
}

.Ellipse {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
}

.Spring {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-left: 20px;
}

.Summer {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-left: 20px;
}

.Autumn {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-left: 20px;
}

.first-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 249px;
    margin-left: 20px;
    margin-right: 830px;
    display: flex;
    position: absolute;
}

.book {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    margin-top: 255px;
    margin-left: 390px;
    margin-bottom: 0;
    display: flex;
    position: absolute;
}

.bg-description {
    width: 550px;
    height: 554px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    display: flex;
    position: absolute;
}

.Staff-Picks {
    color: #000;
    font-family: 'Forum', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    position: absolute;
}

.line3 {
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin-top: 55px;
    margin-left: 20px;
    display: flex;
    position: absolute;
}

.The-Book-Eaters-By-Sunyi-Dean {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 75px;
    margin-left: 20px;
    margin-bottom: 440px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.The-Book-Eaters-By-Sunyi-Dean2 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 115px;
    margin-left: 20px;
    margin-bottom: 400px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.The-Book-Eaters {
    text-transform: uppercase;
}

.An-unusual-sci-fi-story {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 175px;
    margin-left: 20px;
    margin-right: 175px;
    margin-bottom: 60px;
}

button {
    background-color: #FFF;
}

.Rectangle {
    transition: 0.5s;
}

.Rectangle1 {
    transition: 0.5s;
}

.Buy {
    transition: 0.5s;
}

.Own {
    transition: 0.5s;
}

.Rectangle {
    border-radius: 2px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    margin-top: 510px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 455px;
    border: 1px solid #0C0C0E;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.form-button :hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
    cursor: pointer;
}

.Buy:hover {
    border: 0 solid #BB945F;
    background: none;
}

.Buy {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.second-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 249px;
    margin-left: 870px;
    margin-right: 60px;
    display: flex;
    position: absolute;
}

.third-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 844px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 830px;
    display: flex;
    position: absolute;
}

.fourth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 844px;
    margin-left: 870px;
    margin-right: 60px;
    margin-bottom: 40px;
    display: flex;
    position: absolute;
}

.fifth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 149px;
    margin-left: 2300px;
    display: none;
    position: absolute;
}

.sixth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 149px;
    margin-left: 3920px;
    display: none;
    position: absolute;
}

.seventh-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 744px;
    margin-left: 2300px;
    display: none;
    position: absolute;
}

.eighth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 744px;
    margin-left: 3920px;
    display: none;
    position: absolute;
}

.ninth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 1339px;
    margin-left: 2300px;
    display: none;
    position: absolute;
}

.tenth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 1339px;
    margin-left: 3920px;
    display: none;
    position: absolute;
}

.eleven-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 1934px;
    margin-left: 2300px;
    display: none;
    position: absolute;
}

.twelfth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 1934px;
    margin-left: 3920px;
    display: none;
    position: absolute;
}

.thirteenth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 2529px;
    margin-left: 2300px;
    display: none;
    position: absolute;
}

.fourteenth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 2529px;
    margin-left: 3920px;
    display: none;
    position: absolute;
}

.fifteenth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 3124px;
    margin-left: 2300px;
    display: none;
    position: absolute;
}

.sixteenth-book {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    margin-top: 3124px;
    margin-left: 3920px;
    display: none;
    position: absolute;
}

.Rectangle1 {
    border-radius: 2px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    margin-top: 510px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 455px;
    border: 1px solid #BB945F;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.Own {
    color: #BB945F;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.Are-your-Halloween-movies {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 175px;
    margin-left: 20px;
    margin-right: 175px;
    margin-bottom: 100px;
}

.A-timely-and-revelatory {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 175px;
    margin-left: 20px;
    margin-right: 175px;
    margin-bottom: 140px;
}

.CoffeShop {
    width: 1440px;
    height: 841px;
    display: flex;
    justify-content: center;
}

.Coffee-shop-text {
    color: #0C0C0E;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
    display: flex;
    position: absolute;
}

.line4 {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    margin-top: 80px;
    display: flex;
    position: absolute;
}

.div-Coffee-shop-main-text {
    width: 1400px;
    height: 120px;
    margin-top: 121px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.Coffee-shop-main-text {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: absolute;
    margin-top: 5px;
}

.Coffee-shop-main-text2 {
    text-transform: lowercase;
}

.y-Coffee-shop {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 47px;
    position: absolute;
    margin-left: 20px;
    margin-right: 1358px;
}

.Coffee-shop-last-text {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: lowercase;
    margin-top: 47px;
    position: absolute;
    margin-left: 36px;
    margin-right: 20px;
    white-space: nowrap;
}

.from-bakery {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: lowercase;
    margin-top: 90px;
}

.coffe_and_tea-menu {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 438px;
    height: 520px;
    margin-top: 281px;
    margin-left: 20px;
    margin-right: 982px;
    position: absolute;
}

.Coffee-Tea {
    height: 40px;
    width: 438px;
    color: #BB945F;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
}

.Cold-Brew-Coffee {
    height: 40px;
    width: 438px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.French-Press-Pot {
    height: 40px;
    width: 438px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.Espresso {
    height: 40px;
    width: 438px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.Cappuccino {
    height: 40px;
    width: 438px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.Hot-tea {
    height: 40px;
    width: 438px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.Cold-tea {
    height: 40px;
    width: 438px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.line5 {
    width: 100px;
    height: 1px;
    background: #BB945F;
    display: flex;
    position: absolute;
    margin-left: 257px;
}

.price {
    color: #000;
    font-family: 'Forum', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
    margin-left: 417px;
}

.deserts {
    display: flex;
    width: 482px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    height: 520px;
    position: absolute;
    margin-left: 938px;
    margin-right: 20px;
    margin-top: 281px;
}

.Desserts-Cakes {
    height: 40px;
    color: #BB945F;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.Forest-Gateau {
    height: 40px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    width: 482px;
    justify-content: flex-end;
}

.Blue-Moon {
    height: 40px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    width: 482px;
    justify-content: flex-end;
}

.Truffle-Cake {
    height: 40px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    width: 482px;
    justify-content: flex-end;
}

.Chocolate-Cake {
    height: 40px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    width: 482px;
    justify-content: flex-end;
}

.Poet-s-Dream-Cake {
    height: 40px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    width: 482px;
    justify-content: flex-end;
}

.Pineapple-Cake {
    height: 40px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    width: 482px;
    justify-content: flex-end;
}

.line61 {
    width: 100px;
    height: 1px;
    background: #BB945F;
    display: flex;
    position: absolute;
    margin-right: 91px;
}

.line62 {
    width: 100px;
    height: 1px;
    background: #BB945F;
    display: flex;
    position: absolute;
    margin-right: 91px;
}

.line63 {
    width: 100px;
    height: 1px;
    background: #BB945F;
    display: flex;
    position: absolute;
    margin-right: 90px;
}

.line64 {
    width: 100px;
    height: 1px;
    background: #BB945F;
    display: flex;
    position: absolute;
    margin-right: 91px;
}

.line65 {
    width: 100px;
    height: 1px;
    background: #BB945F;
    display: flex;
    position: absolute;
    margin-right: 91px;
}

.line66 {
    width: 100px;
    height: 1px;
    background: #BB945F;
    display: flex;
    position: absolute;
    margin-right: 89px;
}

.Forest-Gateau-text {
    margin-right: 251px;
    display: flex;
    position: absolute;
}

.Blue-Moon-text {
    margin-right: 251px;
    display: flex;
    position: absolute;
}

.Truffle-Cake-text {
    margin-right: 250px;
    display: flex;
    position: absolute;
}

.Chocolate-Cake-text {
    margin-right: 251px;
    display: flex;
    position: absolute;
}

.Poet-s-Dream-Cake-text {
    margin-right: 251px;
    display: flex;
    position: absolute;
}

.Pineapple-Cake-text {
    margin-right: 249px;
    display: flex;
    position: absolute;
}

.price1 {
    color: #000;
    font-family: 'Forum', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.Contacts-section {
    width: 1440px;
    height: 575px;
    display: flex;
    justify-content: center;
}

.Our-Contacts {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    height: 40px;
    margin: 20px 0 0;
    position: absolute;
}

.line7 {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    margin-top: 80px;
    display: flex;
    position: absolute;
}

.contacts-info {
    width: 1400px;
    height: 414px;
    display: flex;
    position: absolute;
    margin-top: 121px;
}

.tel-a {
    color: #000;
    transition: 0.3s;
}

.tel-a:hover {
    color: red;
}

.For-all-Library-inquiries {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
}

.Please-call {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
    margin-top: 80px;
}

.For-TTY-service-please-call {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
    margin-top: 140px;
}

.Putterham-Library {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
    margin-top: 200px;
}

.Senior-Staff {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
    margin-top: 280px;
}

.Library-Director {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
    margin-top: 340px;
}

.Amanda-Hirst {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
    margin-top: 340px;
    margin-left: 195px;
}

.Rectangle-img {
    width: 696px;
    height: 414px;
    margin-left: 704px;
}

.LibraryCard {
    width: 1440px;
    height: 614px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.Digital-Library-Cards {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Forum', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    position: absolute;
    margin-top: 20px;
}

.line8 {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    display: flex;
    position: absolute;
    margin-top: 80px;
}

.find-card {
    width: 600px;
    height: 453px;
    flex-shrink: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    margin: 121px 820px 40px 20px;
}

.Find-card-text {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    display: flex;
    position: absolute;
}

.white-bg {
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    margin-top: 66px;
    border: 3px solid #BB945F;
    background: #FFF;
    display: flex;
    position: absolute;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gold-bg {
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    background: #BB945F;
    display: flex;
    position: absolute;
    margin-top: 20px;
}

.Brooklyn-Public-Library2 {
    color: #000;
    font-family: 'Forum', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    display: flex;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.input-name {
    width: 500px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    position: absolute;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    color: #8E8E8E;
    font-family: 'Forum', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-left: 20px;
    outline: none;
    border: none;
}

.input-number {
    width: 500px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    position: absolute;
    margin-top: 181px;
    margin-left: 20px;
    margin-right: 20px;
    color: #8E8E8E;
    font-family: 'Forum', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-left: 20px;
    outline: none;
    border: none;
}

.Check-the-card-button {
    display: inline-flex;
    padding: 10px 40px;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    width: 242px;
    height: 44px;
    margin-top: 312px;
    justify-content: center;
    padding: 0;
    background-color: #FFF;
    transition: 0.5s;
}

.Check-the-card-button:hover {
    cursor: pointer;
    background-color: #BB945F;
}

.Check-the-card {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.get-a-card {
    width: 456px;
    height: 253px;
    flex-shrink: 0;
    display: flex;
    position: absolute;
    margin: 121px 20px 240px 964px;
    justify-content: flex-end;
}

.Get-a-reader-card {
    color: #000;
    text-align: center;
    font-family: 'Forum', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    display: flex;
    position: absolute;
}

.register-a-new-account-div {
    width: 456px;
    height: 120px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    margin-top: 68px;
    color: #000;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
}

.Sign-Up-button {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 223px;
    background-color: #FFF;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    margin-right: 20px;
    transition: 0.5s;
}

.Sign-Up-button:hover {
    cursor: pointer;
    background-color: #BB945F;
}

.Log-in-button {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 223px;
    background-color: #FFF;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    transition: 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.Log-in-button:hover {
    cursor: pointer;
    background-color: #BB945F;
}

.Sign-Up-text {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.Log-in-text {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.footer {
    width: 1440px;
    height: 250px;
    display: flex;
    position: absolute;
    margin-top: 4996px;
    background: #0C0C0E;
    justify-content: center;
}

.Frame5 {
    display: flex;
    width: 1400px;
    height: 40px;
    justify-content: flex-start;
    gap: 1022px;
    flex-shrink: 0;
    margin-top: 20px;
    position: absolute;
}

.Frame4 {
    width: 1398px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1147px;
    margin-top: 70px;
    position: absolute;
}

.footer-rss {
    width: 1400px;
    height: 22px;
    flex-shrink: 0;
    margin-top: 184px;
    display: flex;
    position: absolute;
    align-items: center;
}

.Frame5-text {
    width: 229px;
    flex-shrink: 0;
    height: 40px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Frame5-text a {
    text-decoration: none;
    color: #FFF;
}

.Frame5-text2 {
    width: 149px;
    height: 40px;
    color: #FFF;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Social-media {
    width: 102px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;

}

.ul {
    list-style: none;
    display: flex;
    position: absolute;
    gap: 15px;
}

.icon-twitter {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.icon-instagram {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.icon-facebook {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.Frame4-text {
    width: 149px;
    height: 40px;
    color: #FFF;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.line9 {
    width: 1400px;
    height: 1px;
    background: #FFF;
    margin-top: 140px;
}

.footer-rss-text1 {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    display: flex;
    position: absolute;
}

.footer-rss-text2 {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    display: flex;
    position: absolute;
    margin-left: 550px;
}

.The-Rolling-Scopes-School-a {
    color: #FFF;
    transition: 0.5s;
}

.The-Rolling-Scopes-School-a:hover {
    color: red;
    cursor: pointer;
}

.footer-rss-text3 {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    display: flex;
    position: absolute;
    margin-left: 1311px;
    height: 22px;
    align-items: center;
}

.footer-rss-text3 a {
    text-decoration: none;
    color: #FFF;
}

.Siamion-a {
    transition: 0.5s;
}

.Siamion-a:hover {
    color: red;
}